@font-face {
    font-family: "Lemon-milk";
    src: url(./assets/fonts/LEMONMILK-Regular.otf);
}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

h1,h2,h3,h4,h5,p{
    font-family: "Lemon-milk";
}
